{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "YOUR-FIREBASE-PROJECT-ID",
    "storage_bucket": "YOUR-FIREBASE-PROJECT-ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:REPLACE_WITH_REAL_APP_ID",
        "android_client_info": {
          "package_name": "com.enclavd.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaREPLACE_WITH_REAL_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
